<div id="regression-main">
    <div class="row">
        <div class="col col-12">
            <div class="box-component">
                <div id="datepicker" class="datepicker">
                    <div class="head">
                        <div class="prev"><i class="icon-chevron-left"></i></div>
                        <div class="title"></div>
                        <div class="next"><i class="icon-chevron-right"></i></div>
                    </div>
                    <table class="body">
                        <tr>
                            <th>SU</th><th>MO</th><th>TU</th><th>WE</th><th>TH</th><th>FR</th><th>SA</th>
                        </tr>
                    </table>
                </div>
                <script data-vo="#datepicker" data-tpl="dates" type="text/template">
                    <tr>
                        <! for(var i = 0; i < dates.length; i++) { !>
                        <td><!= dates[i] !></td>
                        <! } !>
                    </tr>
                </script>
            </div>

            <div class="box-component">
                <div id="oid_config" style="width: 300px;"></div>
            </div>

            <div class="box-component">
                <div id="metric_box"></div>
            </div>

            <div class="box-component">
                <a id="btn_single_reg" class="btn small">Run</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hr"></div>
    </div>

    <div class="row">
        <div class="col col-12">
            <div id="metric_chart"></div>
        </div>
    </div>
</div>

<div id="metric_modal" class="msgbox" style="display: none; width: 1000px; height: 470px;">
    <div class="head">
        <span></span>
        <a href="javascript:metricsModal.hide();" class="close"><i class="icon-exit"></i></a>
    </div>
    <div class="body">
        <div class="row">
            <div class="col" style="width: 400px;">
                <div id="metric_detail_chart"></div>
            </div>
            <div class="col" id="metric_detail_tables" style="width: 550px; padding-top: 50px"></div>
        </div>
    </div>
</div>

<script id="tpl_detail_tables" type="text/template">
    <table class="table simple stripeless large">
        <thead>
        <tr>
            <th></th>
            <th>Sum of squares</th>
            <th>Degrees of freedom</th>
            <th>Mean square</th>
            <th>F value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Regression</td>
            <td><!= ssr.toFixed(2) !></td>
            <td><!= ssr_free !></td>
            <td><!= msr.toFixed(2) !></td>
            <td><!= f.toFixed(2) !></td>
        </tr>
        <tr>
            <td>Error</td>
            <td><!= sse.toFixed(2) !></td>
            <td><!= sse_free !></td>
            <td><!= mse.toFixed(2) !></td>
            <td></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><!= sst.toFixed(2) !></td>
            <td><!= sst_free !></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="table simple stripeless large" style="width: 60%; margin-top: 30px;">
        <thead>
        <tr>
            <th>Accuracy</th>
            <th>b0</th>
            <th>b1</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><!= r2.toFixed(2) !></td>
            <td><!= b0 !></td>
            <td><!= b1 !></td>
        </tr>
        </tbody>
    </table>

    <div class="row" style="margin-top: 30px;">
        <div class="group">
            <div class="label small" id="metric_detail_label_input"></div>
            <input id="metric_detail_input" type="number" class="input small" style="width: 80px;" />
        </div>

        <div class="group">
            <div class="label small" id="metric_detail_label_output"></div>
            <input id="metric_detail_output" type="number" class="input small" style="width: 80px;" />
        </div>
    </div>

</script>

<input type="hidden" name="theme" value="$theme" />